body {
	background :rgb(235,235,235);
} 
label {
	display:inline-block;
	min-width:150px;
}
h1 {
	border-width:2px;
    border-style:solid;
    border-color:black;
	border-top-left-radius:10px;
	border-bottom-right-radius:40px;
	padding-left:30px;
	width:500px;
    box-shadow:2px 2px 5px purple;
	background-color:rgb(100,800,800);
}
form {
	border-width:3px;
    border-style:solid;
    border-color:black;
	border-top-right-radius:40px;
	padding-left:30px;
	width:600px;
	box-shadow:2px 2px 13px purple;
	background-color:rgb(100,800,800);
	height:520px;
	position:absolute;
}
#sec1 {
	border-width:3px;
    border-style:solid;
    border-color:black;
	border-top-right-radius:40px;
	border-top-left-radius:40px;
	padding-left:30px;
	width:500px;
	box-shadow:2px 2px 13px purple;
	background-color:rgb(100,800,800);
	height:520px;
	margin-left:650px;
	position:relatif;
}

textarea {
	margin-left:255px;
    height:100px;
	
}
.envoyer {
	color:blue;
	box-shadow:2px 2px 5px purple;
}

     
